/HSI/nbproject/private/
/HSI/build/
/Histograma/nbproject/private/
/Histograma/build/
/Limiarizacao/nbproject/private/
/Limiarizacao/build/
/Vizinhaca/build/
/Vizinhaca/nbproject/private/
/Convolucao/build/
/Vizinhaca/dist/
/Convolucao/dist/
/EscalaCinza/nbproject/private/
/EscalaCinza/build/
/Histograma/dist/
/Limiarizacao/dist/
/FiltroMediana/nbproject/private/
/FiltroMediana/build/
/EscalaCinza/dist/
/FiltroMediana/dist/
/ErosaoDilatacao/nbproject/private/
/ErosaoDilatacao/build/
/ErosaoDilatacao/dist/